{% extends 'index.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <h2 class="join-message">Add Your Recipe</h2>
        <form method="POST" id="recipe_form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="form-group">
                <label for="{{ field.id }}">{{ field.label.text }}</label>
                {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {{ field(placeholder=field.label.text, class="form-control") }}
            </div>
            {% endfor %}

            <button class="btn btn-outline-success btn-lg btn-block">Add</button>
        </form>
    </div>
</div>

{% endblock %}