{% extends 'index.html' %}

{% block content %}

<body>
    <h1>{{ user_recipe.title }}</h1>
    <h5>A {{g.user.username}} Original Creation</h5>
    {% set favorite_recipe_ids = g.user.favorites|map(attribute='recipe_id')|list %}
    <img src="{{ user_recipe.photo_url }}" alt="Recipe Photo">
    <h2>Ingredients:</h2>
    <ul>
        {% for ingredient in user_recipe.ingredients.split('\n') %}
        <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    <h2>Instructions:</h2>
    <p>{{ user_recipe.instructions|replace('\n', '<br>')|safe }}</p>
</body>

<form method="POST" action="/delete/{{user_recipe.id}}" class="form-inline">
    <button class="btn btn-outline-danger btn-lg btn-block">Delete Recipe</button>
</form>

{% endblock %}